global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    retries 3
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

# Stats interface
listen stats
    bind *:7000
    mode http
    stats enable
    stats uri /
    stats refresh 10s
    stats admin if TRUE

# PostgreSQL Load Balancer
listen postgres
    bind *:5432
    mode tcp
    option tcp-check
    tcp-check connect
    tcp-check send-binary 00000014 # Length
    tcp-check send-binary 00030000 # SSL request
    tcp-check expect binary 4e      # 'N' - SSL not available
    default-server inter 3s fall 3 rise 2
    
    # PostgreSQL Backends
    server postgres1 postgres1:5432 check
    server postgres2 postgres2:5432 check
    server postgres3 postgres3:5432 check backup
